<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
<servlet>
<servlet-name>TrainerController</servlet-name>
<servlet-class>com.ideas2it.controller.TrainerController</servlet-class>
</servlet>
    <servlet>
        <servlet-name>TraineeController</servlet-name>
        <servlet-class>com.ideas2it.controller.TraineeController</servlet-class>
    </servlet>


    <servlet-mapping>
<servlet-name>TrainerController</servlet-name>
<url-pattern>/trainer</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerController</servlet-name>
        <url-pattern>/trainers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerController</servlet-name>
        <url-pattern>/assigntrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerController</servlet-name>
        <url-pattern>/unassigntrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeController</servlet-name>
        <url-pattern>/trainee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeController</servlet-name>
        <url-pattern>/trainees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeController</servlet-name>
        <url-pattern>/assigntrainee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeController</servlet-name>
        <url-pattern>/unassigntrainee</url-pattern>
    </servlet-mapping>


</web-app>
